{% extends 'base.html.twig' %}



{% block additionnal_body_class %}ls-closed login-page{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="card">
            <div class="header bg-red">
                <h2>Connexion</h2>
            </div>
            <div class="body">
                {% if error %}
                    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('security_login') }}" method="post">
                    <div class="form-group">
                        <div class="form-line">
                            <input placeholder="Nom d'utilisateur" required name="_username" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="form_group">
                            <button type="submit" class="btn btn-success col-lg-4 col-lg-offset-1">Connexion</button>
                        </div>
                        <a href="{{ path('security_registration') }}" class="btn btn-warning col-lg-5 col-lg-offset-1">Créer un compte</a>
                    </div>
                </form>
                <div class="col text-center" style="display:inline">

                </div>
                <div class="col text-center">
                    <a href="{{ path('user_login') }}" class="btn btn-primary">J'ai un compte MyCentraleAssos</a>
                </div>



            </div>

        </div>
    </div>

{% endblock %}