{% extends 'base.html.twig' %}

{% block content %}

    <h2>Ecrans</h2>

    {%  for display in displays %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            {% if display.active == true %}
                <div class="info-box bg-green hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">screen_share</i>
                    </div>
            {% else %}
                <div class="info-box bg-red hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">stop_screen_share</i>
                    </div>
            {% endif %}

                <div class="content">
                    <div class="text">{{display.name}}</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">
                        {% if display.active %}
                            Allumé
                        {% else %}
                            Éteint
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}








{% endblock %}